# Predict Remaining Useful Life

In [1]:
%matplotlib inline
import composeml as cp
import data

## Load Data

In [2]:
df = data.load('data/train_FD004.txt')
df.head()

,engine_no,time_in_cycles,operational_setting_1,operational_setting_2,operational_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_13,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21,time
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,2387.99,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670,2000-01-01 00:00:00
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,2387.73,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552,2000-01-01 00:10:00
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,2387.97,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213,2000-01-01 00:20:00
3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,1118.03,3.91,...,2388.02,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176,2000-01-01 00:30:00
4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,1033.59,7.05,...,2028.08,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754,2000-01-01 00:40:00

## Generate Labels

### Create Labeling Function

In [3]:
def remaining_useful_life(df):
    length = len(df) - 1
    return length

### Construct Label Maker

In [4]:
lm = cp.LabelMaker(
    target_entity='engine_no',
    time_index='time',
    labeling_function=remaining_useful_life,
)

### Search Labels

In [5]:
lt = lm.search(
    df,
    num_examples_per_instance=5,
    gap=1,
    verbose=True,
)

lt.head()

Elapsed: 00:02 | Remaining: 00:00 | Progress: 100%|██████████| engine_no: 1245/1245

    engine_no         cutoff_time  remaining_useful_life
id
0           1 2000-01-01 00:00:00                    320
1           1 2000-01-01 00:10:00                    319
2           1 2000-01-01 00:20:00                    318
3           1 2000-01-01 00:30:00                    317
4           1 2000-01-01 00:40:00                    316